---
layout: default
---

<article class="post">

  {% if page.external_url %}
  
    <span class="post-date">Linked from {{ page.host }} <a href="{{ page.external_url }}"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a></span>
    <h2>{{ page.title }}</h2>
  
  {% else %}
  
    <span class="post-date">{{ page.date | date: "%B %e, %Y" }}</span>
    <h1>{{ page.title }}</h1>
  
  {% endif %}

  <div class="entry">

      {% if page.featured_image %}
      
        <img src="{{ page.featured_image }}" alt="{{ page.featured_alt }}" class="center"></img>
        {{ content }}
      
      {% else %}  

        {{ content }}

      {% endif %}

  </div>
  
</article>
