---
layout: default
---

<article class="post">

  {% if page.external_url %}
  
    <div class="date">Linked from {{ page.host }} <a href="{{ page.external_url }}">&#8594;</a></div>
    <h2>{{ page.title }}</h2>
  
  {% else %}
  
    <div class="date">{{ page.date | date: "%B %e, %Y" }}</div>
    <h1>{{ page.title }}</h1>
  
  {% endif %}

  <div class="entry">

      {% if page.featured_image %}
      
        <img src="{{ page.featured_image }}" alt="{{ page.featured_alt }}"></img>
        {{ content }}
      
      {% else %}  

        {{ content }}

      {% endif %}

  </div>
  
</article>
