---
layout: default
---

<article class="post">

  {% if page.external_url %}
  
    <div class="date">Linked from <a href="{{ page.external_url }}">{{ page.host }}</a></div>
    <h2>{{ page.title }} &#8594;</h2>
  
  {% else %}
  
    <div class="date">{{ page.date | date: "%B %e, %Y" }}</div>
    <h1>{{ page.title }}</h1>
  
  {% endif %}

  <div class="entry">

      {% if page.featured_image %}
      
        <img src="{{ page.featured_image }}" alt="{{ page.featured_alt }}"></img>
      
      {% else % }  
      {% endif %}
      
    {{ content }}
  </div>
  
</article>
